@media(max-width: 948px){
    body{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        padding: 10px;
    }

    header .logo{
        width: 220px;
        margin-bottom: 25px;
    }

    .secao{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
    }

    .secao .image-mockups{
        width: 100%;
        margin-bottom: 25px;
        margin-right: 0;
    }

    .secao .descricao{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .secao .descricao h1{
        font-size: 46px;
        text-align: center;
    }

    .secao .descricao p{
        font-size: 22px;
        text-align: center;
    }

    .secao .descricao .botao {
        padding: 30px 150px;
        margin-bottom: 20px;
        align-self: center;
        justify-content: center;
        display: flex;
    }

    .secao .descricao .botao a{
        font-size: 26px;
    }

    .icones{
        position: relative;
        bottom: 0;
        left: 0;
        padding: 25px 0;
        justify-content: center;
    }

}